.footer {
    position: relative;
    background-image: url(../img/Background-footer.png);
    background-size: cover;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: -o-linear-gradient(198.94deg, $color-background-second -2.19%, $color-background-first 103.21%);
        background: linear-gradient(251.06deg, $color-background-second -2.19%, $color-background-first 103.21%);

    }

    &__title-wrapper {
        margin-bottom: 42px;

        @media screen and (max-width: $tablet-start) {
            margin-bottom: 28px;
        }

        @media screen and (min-width: $desktop-big-start) {
            margin-bottom: 2.625vw;
        }
    }

    &__socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12.68vw 19vw 14.625vw;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media screen and (max-width: $desktop-small-start) {
            padding: 163px 24.93vw 12.625vw;
        }

        @media screen and (max-width: $tablet-start) {
            padding: 16.68vh 19vw 10.625vh;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }


    &__logo {

        @media screen and (max-width: $tablet-start) {
            margin-bottom: 20px;
        }

        &-link img {
            margin-bottom: 41px;
            width: 241px;
            height: 54px;
        }

    }
}


