.header {
    background: -o-linear-gradient(206.57deg, $color-background-second 16.9%, $color-background-first 83.27%);
    background: linear-gradient(243.43deg, $color-background-second 16.9%, $color-background-first 83.27%);

    &__navigation {
        position: absolute;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 53px 13.43vw 0;
        z-index: 10;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media screen and (max-width: $tablet-start) {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 40px 8vw 0;
        }
    }
}

.nav {

    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 6.875vw;

        @media screen and (max-width: $desktop-small-start) {
            margin-right: 5.875vw;
        }

        @media screen and (max-width: $tablet-start) {
            visibility: hidden;
            min-width: 220px;
            position: absolute;
            top: 100%;
            right: 8.5%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-transform: 1;
            -ms-transform: 1;
            transform: 1;
            -webkit-transform: translateX(20%);
            -ms-transform: translateX(20%);
            transform: translateX(20%);
            -webkit-transition: -webkit-transform 0.2s ease;
            transition: -webkit-transform 0.2s ease;
            -o-transition: transform 0.2s ease;
            transition: transform 0.2s ease;
            transition: transform 0.2s ease, -webkit-transform 0.2s ease;
            -webkit-backdrop-filter: blur(4.5px);
            margin-right: 0;
        }

        &-item {
            margin-right: 5.812vw;
            line-height: 2rem;
            color: $color-secondary;
            white-space: nowrap;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            @media screen and (max-width: $tablet-start) {
                white-space: initial;
                display: block;
                margin-right: 4.112vw;
            }

            &:last-child {
                margin-right: 0;
            }
        }

    }

    &.show .nav__list {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }

    &__link {
        position: relative;

        &:hover::after {
            background-color: $color-secondary;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 110%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            border: 1px solid $color-secondary;
            border-radius: 100px;
            color: $color-secondary;

            @media screen and (max-width: $desktop-small-start) {
                width: 7px;
                height: 7px;
            }

            @media screen and (min-width: $desktop-big-start) {
                width: 0.5vw;
                height: 0.5vw;
            }

            @media screen and (max-width: $tablet-start) {
                display: none;
            }
        }
    }

    & .socials-list {
        @media screen and (max-width: $tablet-start) {
            display: none;
        }

    }
}


// .header {
//     background: linear-gradient(243.43deg, $color-background-second 16.9%, $color-background-first 83.27%);

//     &__navigation {
//         position: absolute;
//         width: 100%;
//         box-sizing: border-box;
//         left: 0;
//         top: 0;
//         display: flex;
//         align-items: center;
//         padding: 53px 13.43vw 0;
//         z-index: 10;
//         justify-content: center;

//         @media screen and (max-width: $tablet-start) {
//             justify-content: space-between;
//             padding: 40px 8vw 0;
//         }
//     }
// }

// .nav {

//     &__list {
//         display: flex;
//         margin-right: 6.875vw;

//         @media screen and (max-width: $desktop-small-start) {
//             margin-right: 5.875vw;
//         }

//         @media screen and (max-width: $tablet-start) {
//             visibility: hidden;
//             min-width: 220px;
//             position: absolute;
//             top: 100%;
//             right: 8.5%;
//             align-items: center;
//             justify-content: space-around;
//             transform: 1;
//             transform: translateX(20%);
//             transition: transform 0.2s ease;
//             -webkit-backdrop-filter: blur(4.5px);
//             margin-right: 0;
//         }

//         &-item {
//             margin-right: 5.812vw;
//             line-height: 2rem;
//             color: $color-secondary;
//             white-space: nowrap;
//             display: flex;

//             @media screen and (max-width: $tablet-start) {
//                 white-space: initial;
//                 display: block;
//                 margin-right: 4.112vw;
//             }

//             &:last-child {
//                 margin-right: 0;
//             }
//         }
       
//     }

//     &.show .nav__list {
//         transform: translateY(0);
//         visibility: visible;
//     }

//     &__link {
//         position: relative;

//         &:hover::after {
//             background-color: $color-secondary;
//         }
        
//         &::after{
//             content: "";
//             position: absolute;
//             top: 50%;
//             right: 110%;
//             transform: translate(-50%, -50%);
//             width: 8px;
//             height: 8px;
//             border: 1px solid $color-secondary;
//             border-radius: 100px;
//             color: $color-secondary;

//             @media screen and (max-width: $desktop-small-start) {
//                 width: 7px;
//                 height: 7px;
//             }

//             @media screen and (min-width: $desktop-big-start) {
//                 width: 0.5vw;
//                 height: 0.5vw; 
//             }
//             @media screen and (max-width: $tablet-start) {
//                 display: none;
//             }
//         }
//     }

//     & .socials-list {
//         @media screen and (max-width: $tablet-start) {
//             display: none;
//         }

//     }
// }
