.socials {

    &-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &-item {
        margin-right: 20px;

        @media screen and (max-width: $desktop-small-start) {
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

        & svg {

            @media screen and (max-width: $desktop-small-start) {
                width: 32px;
            }

            @media screen and (max-width: $tablet-start) {
                width: 40px;
            }

            @media screen and (min-width: $desktop-big-start) {
                width: 2.5vw;
                height: 2.5vw;
            }

        }

        & svg:hover circle {
            opacity: 1;
        }
    }

}


